// подключение общих настроек
@import 'settings';
// подключение header
@import 'blocks/header';
// подключение statistics
@import 'blocks/statistics';
// подключение map
@import 'blocks/map';
// подключение about
@import 'blocks/about';
// подключение join
@import 'blocks/join';
// подключение news
@import 'blocks/news';
// подключение members
@import 'blocks/members';
// подключение questions
@import 'blocks/questions';
// подключение documents
@import 'blocks/documents';
// подключение footer
@import 'blocks/footer';
// подключение offer
@import 'blocks/offer';