.documents {
    padding-top: 78px;
    padding-bottom: 100px;

    // .documents__wrapper

    &__wrapper {
        position: relative;
        z-index: 10;
    }

    // .documents__title

    &__title {}

    // .documents__content

    &__content {
        margin-top: 79px;
        position: relative;
        padding: 0 60px;
    }

    // .documents__buttons

    &__buttons {}

    // .documents__prev

    &__prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -60px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        cursor: pointer;
        border: none;
        outline: none;
        background: #00A0E1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // .documents__next

    &__next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -60px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        cursor: pointer;
        border: none;
        outline: none;
        background: #00A0E1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // .documents__description

    &__description {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }

    // .documents__text

    &__text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 130.19%;
        color: #2B2939;
    }
}

.documents-slider {
    width: 100%;

    // .documents-slider__wrapper

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    // .documents-slider__item

    &__item {
        cursor: pointer;
        display: flex;
        justify-content: center;
    }
}



.overlay-documents {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
    visibility: hidden;

    &--open{
        visibility: visible;
    }

}
.popup-documents {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    height: 90%;
    width: 450px;
        img{
            height: 100%;
            object-fit: cover;
        }
    
}


