.header {
    background: url(../img/header/bg.png) center no-repeat;
    background-size: cover;
    padding-top: 45px;
    padding-bottom: 132px;

    // .header__wrapper

    &__wrapper {}

    // .header__top

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 26px;
    }

    // .header__logo

    &__logo {
        display: flex;
        align-items: center;

        img {
            margin-right: 122px;
        }
    }

    // .header__social

    &__social {
        display: flex;
        align-items: center;
    }

    // .header__social-links

    &__social-links {}

    // .header__social-link

    &__social-link {
        text-decoration: none;
        display: inline-block;
        width: 35px;
        height: 35px;
        margin-right: 15px;
        transition: .3s;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }


        &:last-child {
            margin-right: 25px;
        }

        &:hover{
            transform: translateY(-2px);
        }

    }

    // .header__request

    &__request {
        width: 203px;
        height: 40px;
        background: #135D96;
        border: 2px solid #135D96;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Montserrat';
        text-decoration: none;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #F1F0E1;
        transition: .3s;

        &:hover {
            background: #fff;
            color: #135D96;


        }

    }

    // .header__nav

    &__nav {}

    // .header__mission

    &__mission {}
}

.phone {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #2B2939;
}

.nav {
    margin-bottom: 235px;

    // .nav__list

    &__list {
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
    }

    // .nav__item

    &__item {
        margin-right: 30px;
        font-family: 'Philosopher';
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 28px;
        color: #2B2939;
        margin-bottom: 20px;
        position: relative;


        &:after{
            content: '';
            height: 1px;
            width: 0%;
            background: #2B2939;
            position: absolute;
            bottom: -5px;
            left: 0;
            transition: .3s;

        }

        &:hover{
            &:after{
                width: 100%;
            }
        }
    }

    // .nav__link

    &__link {
        color: inherit;
        text-decoration: none;
    }
}

.mission {

    // .mission__title

    &__title {
        font-family: Philosopher;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 45px;
        color: #2B2939;
        text-shadow: 0px 0px 100px #000000;
        margin-bottom: 10px;
    }

    // .mission__text

    &__text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        color: #2B2939;
        max-width: 1118px;
    }
}