.join {

    background-image: url(../img/background.png);
    background-repeat: repeat;
    background-size: cover;
    position: relative;
    padding: 115px 0;

    &:after {
        content: '';
        position: absolute;
        background-color: rgba(4, 159, 223, .5);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    // .join__wrapper

    &__wrapper {
        position: relative;
        z-index: 10;
    }

    // .join__title

    &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 60px;
        line-height: 73px;
        color: #FFFFFF;
        margin-bottom: 70px;
    }

    // .join__form

    &__form {
        display: flex;
        justify-content: space-between;
    }

    // .join__form-item

    &__form-item {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 10px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 37px;
            color: #FFFFFF;
        }
    }

    // .join__email

    &__email {
        width: 386px;
        height: 80px;
        background: #FFFFFF;
        border-radius: 12px;
        border: none;
        outline: none;
        padding: 21px 20px 21px 19px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        color: rgba(43, 41, 57, .3);
    }

    // .join__name

    &__name {
        height: 80px;
        background: #FFFFFF;
        border-radius: 12px;
        border: none;
        outline: none;
        padding: 21px 20px 21px 19px;
        width: 468px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        color: rgba(43, 41, 57, .3);
    }

    // .join__btn

    &__btn {
        width: 304px;
        height: 80px;
        background: #FEDB00;
        border-radius: 12px;
        align-self: flex-end;
        border: none;
        border: 1px solid #FEDB00;
        transition: .3s;
        outline: none;
        cursor: pointer;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        color: #2B2939;

        &:hover {
            box-shadow: 0 0 7px 7px #2B2939;
        }
    }
}



.overlay-join {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 300;
    visibility: hidden;
   
}

.popup-join {
    max-width: 1200px;
    border-radius: 20px;
    background: url(../img/offer/bg.jpg) repeat;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 112px 50px;

    // .popup-join__title

    &__title {
        font-family: Philosopher;
        font-style: normal;
        font-weight: bold;
        font-size: 80px;
        line-height: 90px;
        color: #2B2939;
        text-align: center;
        position: relative;
        margin-bottom: 30px;

        &:after {
            content: '';
            height: 3px;
            width: 60%;
            position: absolute;
            left: 50%;
            bottom: -2px;
            transform: translateX(-50%);
            background: #0E72AE;
        }
    }

    // .popup-join__subtitle

    &__subtitle {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 130.19%;
        color: #2B2939;
        margin-bottom: 100px;
    }

    // .popup-join__description

    &__description {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 130.19%;
        text-align: center;
        color: #2B2939;
        max-width: 790px;
    }
}


.overlay-join--open{
    visibility: visible;
}